@using ScriptRunner.Library.Services;
@inject IMemoryLoggerProvider MemoryLoggerProvider

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ScriptRunner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ScriptRunner.UI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/highlight-within-textarea/jquery.highlight-within-textarea.css">
    <link rel="stylesheet" type="text/css" href="~/lib/tippy.js/tippy.css" />
    <link href="~/lib/datatables.net-bs5/datatables.bootstrap5.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-bs5/datatables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-buttons-dt/buttons.datatables.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-buttons-dt/buttons.datatables.min.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @* <a class="navbar-brand navbar-brand-text" asp-area="" asp-page="/Index"><span class="navbar-brand-text-script">Script</span><span class="navbar-brand-text-runner">Runner</span></a> *@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Execute</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/History">History</a>
                        </li>
                        <li class="nav-item">
                            <div class="logsNav">
                                <a class="nav-link" asp-area="" asp-page="/Logs">Logs</a>

                                @{
                                    int totalErrors =  MemoryLoggerProvider.MemoryLogs.Count(a => a.LogLevel == LogLevel.Error);

                                    if (@totalErrors > 0)
                                    {
                                        <span class="errorsFound" title="@totalErrors Errors detected">@totalErrors</span>
                                    }
                                }
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Docs">Docs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Admin">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @*&copy; 2023 - ScriptRunner*@
        </div>
    </footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/moment.js/moment.js"></script>    
    <script src="~/lib/toastr.js/toastr.min.js"></script>

    <script src="~/lib/datatables.net/datatables.js"></script>
    <script src="~/lib/datatables.net/datatables.min.js"></script>
 
    <script src="~/lib/datatables.net-bs5/datatables.bootstrap5.js"></script>
    <script src="~/lib/datatables.net-bs5/datatables.bootstrap5.min.js"></script>
    
    <script src="~/lib/datatables-buttons/js/datatables.buttons.js"></script>
    <script src="~/lib/datatables-buttons/js/datatables.buttons.min.js"></script>

    <script src="~/lib/datatables.net-buttons-dt/buttons.datatables.js"></script>
    <script src="~/lib/datatables.net-buttons-dt/buttons.datatables.min.js"></script>

    <script src="~/lib/datatables-buttons/js/buttons.html5.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.html5.js.min.js"></script>

    <script src="~/lib/jszip/jszip.js"></script>
    <script src="~/lib/jszip/jszip.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>