@page
@model ScriptRunner.UI.Pages.DocsModel
@{
    ViewData["Title"] = "Documentation";
}

<div id="markdown"></div>

<script>
	window.onload = function() {
		let gitRepo = '@Model.GitRepo';
		let tag = '@Model.Tag';
		let scriptFolder = String.raw`@Model.ScriptFolder`;

		populateContent(gitRepo, tag, scriptFolder);
	}
</script>

@section Scripts {
	@*<script src="~/lib/md-block/md-block.js" type="module"></script>
	<script src="~/lib/md-block/md-override.js" type="module"></script>
	<script src="~/lib/md-block/prism.js" type="module"></script>*@
	<script src="~/lib/showdown/showdown.js"></script>
	<script src="~/js/docs.js" asp-append-version="true"></script>

	@*<link href="~/lib/md-block/prism.css" rel="stylesheet" />*@
	<link href="~/css/docs.css" rel="stylesheet" />
}