@page
@model HistoryModel
@{
    ViewData["Title"] = "Execution History";
}

<form method="post" action="/History" id="form">
@Html.AntiForgeryToken()
    <div class="card card-history">
        <div class="card-body">

            <table id='history' class="display" style="width:100%">
            </table>

            <div id="resultsWrapper" class="historyResults hidden resultsTemplate col-12 gx-10 gy-2">
                <div class="card card-results gx-10">
                    <div class="card-body">
                        <div class="row withGap">
                            <h5 id="resultsLabel" class="card-title">Results</h5>
                            <br />
                        </div>
                        <div id="tablesAndMessages">
                            <div id="tables" class="row withGap hidden">
                                <div class="col-lg tableDiv" id="resultsDiv">
                                </div>
                            </div>
                            <div id="messages" class="row withGap hidden">
                                <div class="col-lg resultsMessages" id="messagesDiv">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/history.js" asp-append-version="true"></script>
    <script src="~/js/results.js" asp-append-version="true"></script>
}
