@page
@model HistoryModel
@{
    ViewData["Title"] = "ScriptRunner History";
}
<h1>@ViewData["Title"]</h1>

<br />

<form method="post" action="/History" id="form">
@Html.AntiForgeryToken()

    <table id='history' class="display" style="width:100%">
    </table>
</form>

@section Scripts {
    <script src="~/js/history.js" asp-append-version="true"></script>
}
