@page
@model IndexModel
@{
    ViewData["Title"] = "Execute Script";
}

<h1>@ViewData["Title"]</h1>

<br />

<form method="post" action="/api/Script" id="form">
@Html.AntiForgeryToken()

<div class="container">
    <div class="row withGap">
        <div class="col-2">
                <label class="row-label">System</label>
        </div>
        <div class="col-lg">
            <select id="systems" class="dropdown"></select>
        </div>
    </div>
    <div class="row withGap">
        <div class="col-2">
                <label class="row-label">Script</label>
        </div>
        <div class="col-lg">
            <select id="scripts" class="dropdown"></select>
        </div>
    </div>
    <div class="row withGap">
        <div class="col-2">
                <label class="row-label">Description</label>
        </div>
        <div class="col-lg">
            <label id="description"></label>
        </div>
    </div>
    <div class="row withGap">
        <div class="col-2">
                <label class="row-label">Tags</label>
        </div>
        <div class="col-lg">
            <label id="tags"></label>
        </div>
    </div>
    <div class="row withGap">
        <div class="col-2">
                <label class="row-label">Version</label>
        </div>
        <div class="col-lg">
            <label id="version"></label>
        </div>
    </div>
    <div class="row withGap">
        <div class="col-2">
            <label class="row-label">Params</label>
        </div>
        <div class="col-lg">
            <div id="Params">
            </div>
        </div>
    </div>
    <br />
    <div class="row withGap">
        <div class="col-2">            
        </div>
        <div class="col-lg">
            <div>
                <input id="execute" type="button" value="Execute" class="btn btn-primary hidden" />
                <a href="todo" id="copyScript" class="hidden padded">Copy Script</a>
            </div>
        </div>
    </div>

    <div id="paramTemplate" style="visibility:hidden">
        <div class="row withGap">
            <div class="col-2">
                    <label for="{Name}" class="row-label">{Name}</label>
            </div>
                <div class="col-lg">
                    <input type="{Type}" placeholder="{Type}" value="{Value}" id="{Name}" class="valueinputs" />
                    <div class="mytooltip {tooltipVisible}">?
                        <span class="tooltiptext">{Tooltip}</span>
                    </div>
            </div>
        </div>
    </div>

    <hr width="50%" style="margin: auto;margin-bottom:30px" />

    <div id="results" class="hidden">
        <div class="row withGap">
            <div class="col-1">
                <label>Results</label>
            </div>
            <div class="col-lg tableDiv" name="resultsTables">
            </div>
        </div>

        <div class="row withBigGap">
            <div class="col-1">
                <label>Messages</label>
            </div>
            <div class="col-lg" name="resultsMessages">
            </div>
        </div>
    </div>
</div>

</form>

@section Scripts {
    <script src="~/js/runner.js" asp-append-version="true" type="module"></script>
    <script src="~/js/results.js" asp-append-version="true"></script>
}

