@page
@model LogModel
@{
    ViewData["Title"] = "Logs";
}

<div class="card card-logs">
    <div class="card-body">

        <table id='logs' class="display logs">
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/logs.js" asp-append-version="true"></script>
}
