@page
@model LogModel
@{
    ViewData["Title"] = "ScriptRunner Logs";
}
<h1>@ViewData["Title"]</h1>

<br />

<div class="container-fluid">
    <table id='logs' class="display logs">
    </table>
</div>

@section Scripts {
    <script src="~/js/logs.js" asp-append-version="true"></script>
}
